.workspace-container .tab-header-area {
    /* Define o cursor como 'mãozinha' ao passar sobre as abas */
    -fx-cursor: hand;
    cursor: pointer;
    /* Compatibilidade padrão (W3C) */
}

.workspace-container .tab {
    -fx-tab-min-width: 150px;
    -fx-tab-max-width: 250px;
}