<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>target/app-0.0.1-SNAPSHOT.jar</jar>
  <outfile>/home/wtalvaro/Downloads/Container/dev-fedora/Downloads/Poder_Financeiro/PoderFinanceiro.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>src/main/resources/icons/app.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>21.0.0</minVersion>
    <maxVersion></maxVersion>
    <opt>--add-exports=javafx.graphics/com.sun.javafx.sg.prism=ALL-UNNAMED</opt>
    <opt>--add-exports=javafx.graphics/com.sun.javafx.scene=ALL-UNNAMED</opt>
    <opt>--add-exports=javafx.graphics/com.sun.glass.utils=ALL-UNNAMED</opt>
  </jre>
</launch4jConfig>